body {
  color: #000000;
  padding: 20px;
}

.titlebar {
  background: none;
  -webkit-app-region: drag;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 28px;
}

h1 {
  font-size: 1.3em;
  margin-top: 0px;
}

.text {
  white-space: pre;
}

p:first-of-type {
  margin-top: 0px;
}

p:last-of-type {
  margin-bottom: 0px;
}
